#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#	rule is applied.
#
# * Item identifiers start and end with a slash (e.g. "/about/" for the file
#	"content/about.html"). To select all children, grandchildren, ... of an
#	item, use the pattern "/about/*/"; "/about/*" will also select the parent,
#	because "*" matches zero or more characters.

preprocess do
	def set_type
		types = ['projects','resources','notes']
		# Set type for each item by comparing it against each type
		items.each do |i|
			case i[:extension]
				when 'html','mkd'
					types.each do |j|
						if i.identifier.index(j) == 1
							i[:root]=j 
							# Set item type if it's also a subitem
							i[:type]=j if i.identifier.length > j.length+2
						end
					end
					# If root or type not set, set it to default
					i[:root]='index' if i[:root].nil?
					i[:type]='index' if i[:type].nil?
			end
		end
	end
	set_type
end

compile '*' do
	unless rep.binary? then
		case item[:extension]
			when 'mkd'		then
				rep.filter :highlight_syntax,
					:colorizers => { 'c' => :pygmentize }
				rep.filter :bluecloth
			when 'html','php'	then
				rep.filter :highlight_syntax,
					:colorizers => { 'c' => :pygmentize }
				rep.filter :erb
			when 'css'		then rep.filter :rainpress
		end
		case item[:extension]
			when 'mkd','html' then 
				case item[:type]
					when 'projects' then layout 'projects'
					else layout 'default'
				end
		end
	end
end

route '*' do
	filename = item.attributes[:filename].sub(/^content/,'')
	case item[:extension]
	when 'mkd' then filename.sub(/mkd$/,'html')
	else filename
	end
end

layout '*', :erb
