#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#	rule is applied.
#
# * Item identifiers start and end with a slash (e.g. "/about/" for the file
#	"content/about.html"). To select all children, grandchildren, ... of an
#	item, use the pattern "/about/*/"; "/about/*" will also select the parent,
#	because "*" matches zero or more characters.

preprocess do
	preproc=Preprocessor.new
	preproc.create_summaries.each do |summary|
		@items<<summary
	end
end

compile '*' do
	unless rep.binary? then
		case item[:extension]
			when 'mkd'		then
				rep.filter :highlight_syntax,
					:colorizers => { 'c' => :pygmentize }
				rep.filter :bluecloth
			when 'html','php','erb'	then
				rep.filter :highlight_syntax,
					:colorizers => { 'c' => :pygmentize }
				rep.filter :erb
			when 'css'		then rep.filter :rainpress
		end
		case item[:extension]
			when 'mkd','html' then 
				case Categories.get_type(item)
					when 'projects' then 
						if Categories.get_level(item)==2
							layout 'projects'
						else
							layout 'default'
						end
					when 'notes' then
						if Categories.get_level(item)==2
							layout 'notes'
						else
							layout 'default'
						end
					else layout 'default'
				end
		end
	end
end

route '*' do
	filename = item.attributes[:filename].sub(/^content/,'')
	case item[:extension]
	when 'mkd' then filename.sub(/mkd$/,'html')
	else filename
	end
end

layout '*', :erb
