<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta charset="utf-8">
	<title>Mao Yu's kitchen - <%= @item[:title] %></title>
	<link rel="stylesheet" type="text/css" href="/css/base.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/css/layout_one_col.css" media="screen">
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="description" content="<%= @item[:desc] %>" />
	<meta name="keywords" content="<%= @item[:keywords] %>" />
	<meta name="robots" content="index, follow" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
	<div id="header">
		<ul>
			<li><a href="">Home</a></li>
			<li><a href="">Projects</a></li>
			<li><a href="" class="active">Code</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Contact</a></li>
		</ul>
		<img src="/images/logo.png" style="float:left"/>
		<h1>Mao Yu</h1><span id="slogan">Casual code cook...</span><br/>
	</div>
	<div class="colmask">
		<div class="content">
			<%= yield %>
		</div>
	</div>
	<div id="footer">
		<p>Footer</p>
	</div>
</body>
</html>
