<ul>
<% subitems=Categories.sort_by_date(
	Categories.select_items_by_type(@items,'resources')) %>
<% subitems.each do |subitem| %>
	<li><a href="<%=subitem.path%>"><%=subitem[:title]%></a>
		- Modified: <%=Categories.format_time(subitem.mtime)%>
	</li>
<% end %>
</ul>

