/*=== SPACING & LAYOUT ===*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
			margin: 0;
			padding: 0;
			border: 0;
			outline: 0;
			vertical-align: baseline;
			background: transparent;}
body {		min-width:40em;
			max-width:80em;
			margin: 0 auto;
			padding: 0 100px;
			height: 100%;}
ol, ul {	margin-left: 0.5em;}
table {		border-collapse: collapse;/* tables still need 'cellspacing="0"' in the markup */
			border-spacing: 0;}
h1, h2, h3 {margin:1em 0 .2em 0;}
p {			margin:.4em 0 .8em 0;}
img {		margin:10px 0 5px;}
#header {	border-bottom: 1px solid;
			clear:both;
			padding: 0em 1em 20px 1em;}
#header p,
#header h1,
#header h2{	padding:.4em 15px 0 0em;
			margin: 0;}
#slogan {	padding:.4em 15px 0 0.3em;}
#header ul {float: right;
			padding: 10px;}
#header ul li {
			float: left;}
#header ul li a:link, #header ul li a:visited {
			float: left;
			margin: 0 10px 0 10px;}
#header ul li a.active:link, #header ul li a.active:visited, #header ul li a:hover {
			border-bottom: 4px solid;
			padding-bottom: 2px;}
/* column container */
.colmask {	position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
			clear:both;
			float:left;
			padding: 1em 0em;
			width:100%;			/* width of whole page */
			overflow:hidden;}	/* This chops off any overhanging divs */
/* 2 column left menu settings */
.leftmenu .colright {
			float:left;
			width:200%;
			position:relative;
			left:12em;}
.leftmenu .col1wrap {
			float:right;
			width:50%;
			position:relative;
			right:12em;}
.leftmenu .col1_leftmenu {
			border-left: 1px solid;
			margin:0 1em 0 13em;
			padding-left: 1em;
			position:relative;
			right:100%;
			overflow:hidden;}
.leftmenu .col2_leftmenu {
			float:left;
			width:10em;
			position:relative;
			right:11em;}
/* 1 column full page settings */
.fullpage .col1_onecol {
			margin:0 1em;}
#footer {	border-top: 1px solid;
			margin-bottom: 20px;
			clear:both;}
#footer p {	font-size:small;
			text-align:center;
			padding: 1em;}
/*=== COLORS ===*/
body, #footer, #header, .colmask,.content {	
			background: #fafafa;}
#header, #footer, .colmask {
			background: #fafafa;
			border-color: #bbb;}
body {		color: #333;}
a {			color:#008;}
a:visited {	color:#558;}
a:hover {	color:#aad;}
#header p,#header h1,#header h2 {
			font-size: 2em;
			color: #558;}
#header a{	text-decoration: none;}
#slogan {	color: #666;}
#header ul li a:link, #header ul li a:visited {
			color: #669;}
#header ul li a.active:link, #header ul li a.active:visited {
			color: #008;
			border-bottom-color:  #aad;}
#header ul li a:hover {
			color: #008;
			border-bottom-color:  #008;}
.content h1{color: #558;}
.leftmenu .col1_leftmenu{
		border-color: #bbb;}
#footer p {	color: #333;}
/*=== FONTS & FORMATTING ===*/
body {		font-family: "Arial","Verdana", sans-serif;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			font-size: medium;
			line-height: 1.8;}
ol, ul {	list-style: square inside;}
blockquote, q {
			quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
			content: '';
			content: none;}
:focus {	outline: 0;}/* remember to define focus styles! */
ins {		text-decoration: none;}/* remember to highlight inserts somehow! */
del {		text-decoration: line-through;}
a:hover {	text-decoration:none;}
h1, h2, h3 {font-style: normal;
			line-height: normal;
			letter-spacing: 1px;}
h1{			font:1.6em  "Arial","Verdana", sans-serif;}
h2 {		font: 1.5em  "Arial","Verdana", sans-serif;}
h3 {		font: 700 1em "Arial","Verdana", sans-serif;
			letter-spacing: 2px;
			text-transform: uppercase;}
h4 {		font: 700 1.1em  "Arial","Verdana", sans-serif;}
#slogan {	font-size: small;
			font-style:italic;}
#header ul {font-size: small;} /* could be specified at a higher level */
#header ul li {
			display: inline;
			list-style: none;}
#header ul li a:link, #header ul li a:visited {
			text-decoration:none;
			font-size: medium;
			line-height: 20px;
			font-weight: bold;}

