.colright {
	float:left;
	width:200%;
	position:relative;
	left:15em;
}
.col1wrap {
	float:right;
	width:50%;
	position:relative;
	right:15em;
	padding-bottom:1em;
}
.content {
	margin:1em 1em 1em 15em;
}
.leftside {
	background: #eee;
	border: 1px solid #888;
	float:left;
	margin: 1em 0em;
	width:11em;
	padding: 1em;
	position:relative;
	right:14em;
}
.leftside h2{
	color: #558;
	font-size: 1.1em;
	border-bottom: 1px dashed #bbb;
	padding: 0em 15px 0.2em 15px;
}
